.dFlex-left-wrap {
  padding-left: 0px !important;
  padding-right: 0px !important;
  vertical-align: middle !important;
  justify-content: flex-start !important;
  justify-items: flex-start !important;
}
