.div-home-padding {
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  align-content: flex-start !important;
  align-items: flex-start !important;
  text-align: left !important;
  vertical-align: middle !important;
}
