<div class="form-group">
  <div class="d-flex dFlex-left-wrap">
    <div class="table-responsive">
      <table class="table-sm table-borderless">
        <tr>
          <td class="td-align-right"><label class="label-header-font">Project:</label></td>
          <td colspan=2><input class="form-control" type="text" [(ngModel)]="newProjectName" style="text-transform: uppercase" /></td>
        </tr>
        <tr>
          <td class="td-align-right">
            <mat-checkbox class="label-header-font" [checked]="setDefaultDate" [disabled]="isProjectStartDateEdit"
              (change)="setProjectDefaultDate()">
              Set Start and End Date:
            </mat-checkbox>

          </td>
          <td colspan=2>
        <tr>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="newProjectStartDate"
                [disabled]="setDefaultDate || isProjectStartDateEdit">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="End Date" [(ngModel)]="newProjectEndDate"
                [disabled]="setDefaultDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </td>
        </tr>
        </td>
        </tr>

        <tr>
          <td class="td-align-right"><label class="label-header-font">Priority:</label></td>
          <td colspan=2>
            <mat-slider class="task-slider-margin" max="30" min="0" step="1" thumbLabel=true [(ngModel)]="projectStepperValue"
              color="primary">
            </mat-slider>
          </td>
        </tr>
        <tr>
          <td class="td-align-right"><label class="label-header-font">Manager:</label></td>
          <td><input class="form-control" type="text" [(ngModel)]="newManagerName" readonly="true" /></td>
          <td class="td-align-right"><button mat-raised-button class="mat-button-row" (click)="getUsersForManagersSelection(userListModal)">Search</button></td>
        </tr>
        <tr class="padding-10px">
        </tr>
        <tr>
          <td colspan=3 class="td-align-right">
            <button mat-raised-button class="mat-button-row1" (click)="updateAddProjectToDatabase()">{{addUpdateButton}}</button>
            <span class="button-spacing"></span>
            <button mat-raised-button class="mat-button-row1" (click)="resetAddProjectDetails()">Reset</button>
          </td>
        </tr>
      </table>
      <div class="padding-10px"></div>
      <div class="padding-10px"></div>
      <mat-divider></mat-divider>
      <div class="padding-10px"></div>
      <div class="padding-10px"></div>
    </div>
  </div>
  <div class="d-flex-inline dFlex-wrap" matSort (matSortChange)="sortData($event)">
    <span class="span-padding">
      <input class="form-control" class="inputTextFont" type="text" style="width: 300px" placeholder="Search By Project Name"
        [(ngModel)]="searchTerm" />
    </span>
    <span class="span-padding">
      <label class="header-label">Sort Task By:</label>
    </span>
    <span class="span-padding">
      <label class="header-sort-label" [ngClass]="sortByColumn === 'projectStartDate'? 'selected-menu-color':'regular-menu-color'"
        mat-sort-header="projectStartDate" (click)="sortProjectListView('projectStartDate')">Start Date</label>
    </span>
    <span class="span-padding">
      <label class="header-sort-label" [ngClass]="sortByColumn === 'projectEndDate'? 'selected-menu-color':'regular-menu-color'"
        mat-sort-header="projectEndDate" (click)="sortProjectListView('projectEndDate')">End Date</label>
    </span>
    <span class="span-padding">
      <label class="header-sort-label" [ngClass]="sortByColumn === 'priority'? 'selected-menu-color':'regular-menu-color'"
        mat-sort-header="priority" (click)="sortProjectListView('priority')">Priority</label>
    </span>
    <span class="span-padding">
      <label class="header-sort-label" [ngClass]="sortByColumn === 'Completed'? 'selected-menu-color':'regular-menu-color'"
        mat-sort-header="Completed" (click)="sortProjectListView('Completed')">Completed</label>
    </span>
    <span class="span-padding">
      <label class="header-sort-label">
        <mat-checkbox class="label-header-font" [checked]="isExcludeProjectDetails" (change)="filterExcludeProjectDetails()">Exclude
          Suspended Projects</mat-checkbox>
      </label>
    </span>
  </div>
  <div class="padding-10px"></div>
  <div class="padding-10px"></div>
  <mat-divider class="custom-divider"></mat-divider>
  <div class="padding-10px"></div>
  <div class="padding-10px"></div>
  <div class="list-group" *ngFor="let resultProjects of resultProjectListSortedData">
    <mat-card class="custom-card-width">

      <mat-grid-list cols="5" [ngClass]="(resultProjects.status === 'Suspended'? 'bgcolor-suspend':'bgcolor-nocolor') || (resultProjects.status === 'Completed'? 'bgcolor-completed':'bgcolor-nocolor')">
        <mat-grid-tile colspan="3" rowspan="1">
          <div class="table-responsive">
            <table class="table-sm table-borderless zero-padding">
              <tr>
                <td colspan=1 class="zero-padding td-align-right td-align-vertical">
                  <label class="label-header-font td-align-vertical">Project:</label>
                </td>
                <td colspan=3 class="zero-padding label-regular-font td-align-vertical">
                  <label class="label-regular-font"> {{resultProjects.projectName}} </label>
                </td>
              </tr>
              <tr>
                <td class="zero-padding-right td-align-right td-align-vertical"><label class="label-header-font">No Of
                    Tasks:</label></td>
                <td class="zero-padding label-regular-font td-align-vertical"><label class="label-regular-font">{{resultProjects.totalTasks}}</label></td>
                <td class="zero-padding-right td-align-right td-align-vertical"><label class="label-header-font">Completed:</label></td>
                <td class="zero-padding label-regular-font td-align-vertical"><label class="label-regular-font">{{resultProjects.completeTasks}}</label></td>
              </tr>
              <tr>
                <td class="zero-padding td-align-right td-align-vertical"><label class="label-header-font">Start Date:</label></td>
                <td class="zero-padding label-regular-font td-align-vertical"><label class="label-regular-font">{{resultProjects.projectStartDate}}</label></td>
                <td class="zero-padding td-align-right td-align-vertical"><label class="label-header-font">End Date:</label></td>
                <td class="zero-padding label-regular-font td-align-vertical"><label class="label-regular-font">{{resultProjects.projectEndDate}}</label></td>
              </tr>
            </table>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="table-responsive">
            <table class="table-sm table-borderless zero-padding">
              <tr>
                <td class="zero-padding  td-align-center">
                  <label class="label-header-font">Priority</label>
                </td>
              </tr>
              <tr>
                <td class="zero-padding  td-align-center label-regular-font">
                  {{resultProjects.priority}}
                </td>
              </tr>
            </table>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="table-responsive">
            <table class="table-sm table-borderless zero-padding">
              <tr>
                <td class="zero-padding  td-align-center">
                  <button mat-raised-button class="mat-button-row2" (click)="setProjectDetailsForUpdate(resultProjects)"
                    [hidden]="resultProjects.status === 'Completed' || resultProjects.status === 'Suspended'">Update</button>
                </td>
              </tr>
              <tr>
                <td class="zero-padding  td-align-center">
                  <button mat-raised-button class="mat-button-row2" (click)="suspendProjectToDatabase(resultProjects)"
                    [hidden]="resultProjects.status === 'Completed' || resultProjects.status === 'Suspended'  || resultProjects.totalTasks === 0">Suspend</button>
                </td>
              </tr>
            </table>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <div class="padding-10px"></div>
    <div class="padding-10px"></div>
  </div>
</div>
<ng-template #userListModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Users</h4>
  </div>
  <div class="modal-body">
    <div class=row><input class="form-control" class="inputTextFont" type="text" style="width: 300px" placeholder="Search By User Name"
        [(ngModel)]="searchUserTerm" /></div>
    <div class="table-responsive">
      <table class="table table-borderless">
        <tr>
          <td class="selectionHeader">Employee Id</td>
          <td class="selectionHeader">First Name</td>
          <td class="selectionHeader">Last Name</td>
        </tr>
        <tr *ngFor="let userList of filteredUserSelectionList">
          <td class="selectionRow row-user-click" (click)="userModelRowClick(userList); modal.close(userList.employeeId + ' click')">{{userList.employeeId}}</td>
          <td class="selectionRow">{{userList.firstName}}</td>
          <td class="selectionRow">{{userList.lastName}}</td>
        </tr>

      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button class="mat-button-row" (click)="modal.close('Cancel click')">Cancel</button>
  </div>
</ng-template>
